body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  height: 100%;
  text-align: center;
}

#mealCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
}


#mealCard img {
  border-radius: 10px;
  margin-top: 30px;
  height: 300px;
  width: 300px;
}